@font-face {
font-family: 'Eurostile';
font-style: normal;
font-weight: normal;
src: local('Eurostile'), url('../font/eurostile.woff') format('woff');
}


@font-face {
font-family: 'EuroStyle Normal';
font-style: normal;
font-weight: normal;
src: local('EuroStyle Normal'), url('EuroStyle Normal.woff') format('woff');
}



html{
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  overflow-x: hidden;
}

body{
  font-family:'Eurostile';
  font-weight:normal;
  height: 100%;
  width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
}

#logodiv{
  max-height: 300px;
  animation: rubberBand;
  animation-duration: 1s;
  margin-bottom: 20px;
}


#logodiv img{
  display: block;
  margin: 0 auto;
  width: 40%;
  min-width: 100px;
  max-width: 300px;
}

#logodiv img:hover{
  animation-duration: 1s;
}

.typewritersection{
  display: flex;
  justify-content:center;
  flex-direction: row;

}

.typewriter{
  margin: 0 auto;
}

#line1 {
  flex: 0 1 100%;
  overflow: hidden;
  border-right: .15em solid #ffffff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(17, end),
    blink-caret .75s step-end 0s 4 forwards ;
}

#line2 {
  overflow: hidden;
  visibility: hidden;
  border-right: .15em solid #ffffff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(18, end),
    blink-caret .75s step-end 4 forwards ;
  animation-delay: 3.5s;
  animation-fill-mode:forwards;
}

#line4{
  overflow: hidden;
  visibility: hidden;
  border-right: .15em solid #000000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 1.5s steps(5, end),
    blink-caret .75s step-end infinite forwards;
    animation-delay: 7s;
  animation-fill-mode:forwards;
}

.gamesbar{
  height: 400px;
  margin-top: 20px;
  border: 1px solid #000000;
  text-align: center;
  color: #222222;
  text-decoration: none;
}

.gamesbar:hover{
  background-color: rgba(0,0,0,0.4);
  opacity: 0.4;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#moretocome{
  animation-delay: 1.1s;
}

#moretocome2{
  animation-delay: 1.2s;
}

#moretocome3{
  animation-delay: 1.3s;
}

#elite img{
  width: 80%;
  max-width: 100%;
  display:block;
  margin: 0 auto;
}

.navbar{
  width: 100%;
  position:fixed;
  background-color: rgba(50, 50, 50, 1.0);
  color: lightGrey;
  z-index: 100;
}

.navbar .navbar-nav > li > a {
  color: lightGrey!important;
}

.active{
  font-style: italic;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

#navbarSupportedContent{
  margin-right: 30px;
}

.nav-item:hover{
  font-weight: 700;
}

.modal-backdrop {
  z-index: -1;
}

.modal-header, .modal-body{
  color: rgb(0,0,0);
}

#backdrop-pic{
  padding-left:0;
  padding-right: 0;
  display:fixed;
  filter:blur(4px);
  background-size: cover;
  width: 100vw; min-width: 320px;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.45;
  background: rgba(50,50, 50, 0.1);
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow:
  hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo{
  height: 100%;
  width: 75px;
}

#logo:hover{
  animation-name: rubberBand;
  animation-duration: 0.5s;
}

.spacer{
  height: 100px;
}

#trailerbutton{
  margin-left: 30px;
}
#review{
  min-height:300px;
  height:auto;
  margin-bottom: 30px;
}

#introduction-picture{
  object-position: center;
  height:300px;
}


#eliteoriginal{
  object-position: center;
  height: 100%;
  width: 100%;
  background: url(https://pbs.twimg.com/media/BnHzLeMIcAAcnjn?format=jpg&name=small) no-repeat center;
  background-size: 75% 90%;
}

#reviewRow{
  margin-bottom: 30px;
  min-height: 300px;
  height: auto;
}

/*Picture Wrapper*/
#elite-dangerous-graphics, #menupic1, #menupic2, #introduction-picture, #combatpicwrapper, #miningwrapper{
  max-width: 100vw;
  max-height: 300px;
  object-fit: cover;
  margin: 10px;
  display:block;
}

/*Pictures*/
#elite-pic, #navigationmenu, #shipmenupic, #eliteoriginal, #combatpic, #miningpic{
  max-height: 300px;
  height: 100%;
  max-width: 500px;
  width: 100%;
  display:  block;
  margin-left: auto;
  margin-right: auto;
}

/*Picture caption*/
#introduction-picture p, #elite-dangerous-graphics p, #menupic1 p, #menupic2 p, #combatpicwrapper p, #miningwrapper p  {
  text-align:center;
  margin: 0 auto;
}

#scores{
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 300px;
  height:auto;
}

#elite-dangerous-graphics2{
    height: 300px;
}

#elite-dangerous-graphics2 p{
  text-align:center;
  margin: 0 auto;
}

#elite-pic2{
  height: 100%;
  width: 100%;
  background: url("https://golf-ladder-aqualate.net/assets/eliteinside.jpg") no-repeat center;
  background-size: 75% 90%;
}
.fa-thumbs-up, .fa-thumbs-down, .fa-star{
  padding-left: 5px;
}

#finalthoughts{
  font-weight:bolder;
  font-size: 20px;
}

#links{
  width:100vw;
}
#shipslink{
  height:150px;
  width:100%;
}

#link-1-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 10%;
}

#link-1-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#missionlink{
  height:150px;
  width:100%;
}

#link-2-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 70%;
}

#link-2-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#homelink{
  height:150px;
  width:100%;
}

#link-home-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 60%;
}

#link-home-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#accordionSection{
  display:block;
  margin-top: 10px;
  margin-right: 20px;
}

.hoveringtext{
  position:relative;
  bottom:150px;
  z-index: 1;
  background-color: rgba(200,200,200,0.8);
  color: #000;
}

#pic1, #pic2, #pic3{
  margin-top: 10px;
  height: 300px;
}

#pic1img, #pic2img, #pic3img {
  height: 100%;
  width:100%;
  object-fit:cover;
  object-position: 50% 30%;
}

#pic1:hover, #pic2:hover, #pic3:hover{
  opacity: 0.5;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
}

.hoveringText2{
  position:relative;
  text-align: right;
  letter-spacing: 1.5px;
  bottom:300px;
  z-index: 1;
  background-color: rgba(200,200,200,0.8);
  color: #000;
}

footer{
  background-color: rgba(50, 50, 50, 1);
  color: lightGrey !important;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #494949;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  z-index: 100;
  width: 100%;
}

footer p{
  padding-top: 8px;
}

#twittericon, #facebookicon{
  margin-left: 10px;
}

#legalinfo{
  float:right;
}

i.fab {
  text-decoration: none;
  color: lightGrey;
}

i.fab:hover{
  font-size: 25px;
}
@keyframes linkHover{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1200px){
  #navbarSupportedContent {
    margin-left:0;
  }
  #pic1, #pic2, #pic3{
    height: 200px;
  }
  .hoveringText2{
    bottom:200px;
  }
}

@media screen and (max-width: 310px){
  .spacer{
    height: 170px;
  }
}

@keyframes typing {
  0% { width: 0 }
  1% {visibility: visible;}
  to { width: 100%; visibility: visible;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
