@font-face {
font-family: 'Eurostile';
font-style: normal;
font-weight: normal;
src: local('Eurostile'), url('../../eurostile.woff') format('woff');
}


@font-face {
font-family: 'EuroStyle Normal';
font-style: normal;
font-weight: normal;
src: local('EuroStyle Normal'), url('EuroStyle Normal.woff') format('woff');
}


body{
  font-family:'Eurostile';
  font-weight:normal;
}

.navbar{
  width: 101vw;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.8);
  max-width: 101vw;
  color: lightGrey;
}

.navbar .navbar-nav > li > a {
  color: lightGrey!important;
}

.active{
  font-style: italic;
}

#backdrop{
  display: flex;
  background: url("https://golf-ladder-aqualate.net/assets/shipinflight.png") no-repeat center;
  filter:blur(4px);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  opacity: 0.45;
}

#logo{
  height: 100%;
  width: 75px;
}


#spacer{
  height: 100px;
}
#introduction{
  height:300px;
}

#introduction-picture{
  height:300px;
}

#eliteoriginal{
  height: 100%;
  width: 100%;
  background: url(https://pbs.twimg.com/media/BnHzLeMIcAAcnjn?format=jpg&name=small);
  background-size: cover;
}

@media screen and (max-width: 992px){
  #navbarSupportedContent {
    margin-left:0;
  }
}
