@font-face {
font-family: 'Eurostile';
font-style: normal;
font-weight: normal;
src: local('Eurostile'), url('../font/eurostile.woff') format('woff');
}


@font-face {
font-family: 'EuroStyle Normal';
font-style: normal;
font-weight: normal;
src: local('EuroStyle Normal'), url('EuroStyle Normal.woff') format('woff');
}

html{
  min-width: 500px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body{
  font-family:'Eurostile';
  font-weight:normal;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;

}

#logodiv img{
  display: block;
  margin: 0 auto;
}

.gamesbar{
  height: 300px;
  border: 1px solid #000000;
  text-align: center;
  color: #999999;
  text-decoration: none;
}

#elite img{
  height:100%;
  max-width: 100%;
  display:block;
  margin: 0 auto;
}

.navbar{
  width: 100%;
  position:fixed;
  background-color: rgba(50, 50, 50, 1.0);
  color: lightGrey;
  z-index: 100;
}

.navbar .navbar-nav > li > a {
  color: lightGrey!important;
}

.active{
  font-style: italic;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

#navbarSupportedContent{
  margin-right: 30px;
}

#backdrop-pic{
  padding-left:0;
  padding-right: 0;
  display:fixed;
  filter:blur(4px);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.45;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow:
  hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo{
  height: 100%;
  width: 75px;
}


.spacer{
  height: 100px;
}

#trailerbutton{
  margin-left: 30px;
}
#introduction{
  min-height:300px;
  height:auto;
  margin-bottom: 30px;
}

#introduction-picture{
  object-position: center;
  height:300px;
}

#introduction-picture p{
  text-align:center;
  margin: 0 auto;
}

#eliteoriginal{
  object-position: center;
  height: 100%;
  width: 100%;
  background: url(https://pbs.twimg.com/media/BnHzLeMIcAAcnjn?format=jpg&name=small) no-repeat center;
  background-size: 75% 90%;
}

#reviewRow{
  margin-bottom: 30px;
  min-height: 300px;
  height: auto;
}

#elite-dangerous-graphics{
    height: 300px;
}

#elite-dangerous-graphics p{
  text-align:center;
  margin: 0 auto;
}

#elite-pic{
  height: 100%;
  width: 100%;
  background: url("https://golf-ladder-aqualate.net/assets/elite-dangerous-today.jpg") no-repeat center center;
  background-size: 75% 90%;
}

#hintsRow{
  margin-bottom: 30px;
  min-height: 300px;
  height:auto;
}

#elite-dangerous-graphics2{
    height: 300px;
}

#elite-dangerous-graphics2 p{
  text-align:center;
  margin: 0 auto;
}

#elite-pic2{
  height: 100%;
  width: 100%;
  background: url("https://golf-ladder-aqualate.net/assets/eliteinside.jpg") no-repeat center;
  background-size: 75% 90%;
}
#links{
  width:100vw;
}
#shipslink{
  height:150px;
  width:100%;
}

#link-1-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 80%;
}

#link-1-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#missionlink{
  height:150px;
  width:100%;
}

#link-2-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 60%;
}

#link-2-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#homelink{
  height:150px;
  width:100%;
}

#link-home-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: 50% 60%;
}

#link-home-img:hover{
  animation-name: linkHover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#accordionSection{
  display:block;
  margin-top: 10px;
  margin-right: 20px;
}

.hoveringtext{
  position:relative;
  bottom:150px;
  z-index: 1;
  background-color: rgba(200,200,200,0.8);
  color: #000;
}

#pic1, #pic2, #pic3{
  margin-top: 10px;
  height: 300px;
}

#pic1img, #pic2img, #pic3img {
  height: 100%;
  width:100%;
  object-fit:cover;
  object-position: 50% 30%;
}

#pic1:hover, #pic2:hover, #pic3:hover{
  opacity: 0.5;
}

.hoveringText2{
  position:relative;
  text-align: right;
  letter-spacing: 1.5px;
  bottom:300px;
  z-index: 1;
  background-color: rgba(200,200,200,0.8);
  color: #000;
}

footer{
  background-color: rgba(50, 50, 50, 1);
  color: lightGrey !important;
  margin-top: 15px;
  color: #494949;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
  z-index: 100;
  width: 100%;
}

#twittericon, #facebookicon{
  margin-left: 10px;
}

#legalinfo{
  float:right;
}

i.fab {
  text-decoration: none;
  color: lightGrey;
}

i.fab:hover{
  font-size: 25px;
}
@keyframes linkHover{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1200px){
  #navbarSupportedContent {
    margin-left:0;
  }
  #pic1, #pic2, #pic3{
    height: 200px;
  }
  .hoveringText2{
    bottom:200px;
  }
  #homelink, #missionlink, #shipslink{
  }
}

@media screen and (max-width: 310px){
  .spacer{
    height: 200px;
  }
}
